* {
  visibility: hidden;
}

.reset-button, .print-button {
  display: none;
}

.print {
  visibility: visible;
  display: block;
}

.printed {
  visibility: visible;
}

.tbl, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
